<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Callback Page</title>
</head>

<body>
  <h1 style="color: blue">Here is your JWT:</h1>
  <p id="jwt">[no access_token available]</p>

  <script>
      var access_token = new URLSearchParams(window.location.hash).get('access_token');
      document.getElementById("jwt").innerHTML = access_token;
  </script>
</body>

</html>