<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Callback Page</title>
</head>

<body>
  <h1 style="color: blue">Here is your JWT:</h1>
  <p id="jwt">[no access_token available]</p>
  <script>
    var hash_params = window.location.hash.split("&")
    for (x of hash_params) {
        var param_pair = x.split("=")
        console.log(param_pair[0])
        if (param_pair[0]=="access_token" || param_pair[0]=="#access_token") {
            document.getElementById("jwt").innerHTML = param_pair[1];
        }
    }
  </script>
</body>

</html>


