<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login Page</title>
</head>

<body>
  <h1 style="color: blue">Login Page</h1>
  <p>Click link to be redirected to the Auth0 authentication page</p>
  <a href="https://vbrech.eu.auth0.com/authorize?response_type=token&client_id=MZF0BV7666PMI7csdqtxoA7vuLrqP60F&redirect_uri=https://fsnd-capstone-vb.herokuapp.com/callback&audience=capstone_api">LOG IN</a>
</body>

</html>